
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>home page</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  
</head>
<style>
    .ss{
        width:100%;
        margin:0%;
        background-color: #fff;
        text-align:center;
    }
    button{
    width:160px;
    height:50px;
    background: linear-gradient(to left top, #b33771,#e3dc96);
    border-style: none;
    color:#fff;
    font-size: 23px;
    font-family: 'Lato';
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
</style>

<body style="background-color: #078e91" class="hold-transition skin-blue">

<div>
    


<section  class="content">
<div class="ss">
        
<div style="" class="col-md-12">
<div style="padding: 20px" class="nav-tabs-custom">
            
<h1 style="text-align: center;">صفحة سياسة الخصوصية</h1>
<br>
<br>

          
<div dir="rtl" style="text-align: right;" trbidi="on">
<div dir="rtl" style="text-align: right;" trbidi="on"><div style="line-height: 2; text-align: justify;">خصوصيتك أيها الزائر لها أهمية بالغة بالنسبة لنا ، و سياسة الخصوصية الموجودة في هذه الوثيقة تمثل الخطوط العريضة لأنواع المعلومات الشخصية التي يجمعها موقع <span style="color: red;"><b>اسم الموقع</b></span>&nbsp;وكيفية استخدام هذه المعلومات.</div><div style="line-height: 2; text-align: justify;"><br />
نحن نستعين بشركات إعلان كطرف ثالث لعرض الإعلانات ، وعندما تزور موقع&nbsp;<b style="color: red;">اسم الموقع&nbsp;</b>فـ إنه يحق لهذه الشركات أن تستخدم معلومات حول زياراتك لهذا الموقع ( باستثناء الاسم أو العنوان أو عنوان البريد الإلكتروني أو رقم الهاتف ) وذلك من أجل تقديم إعلانات حول البضائع والخدمات التي تهمك عن طريق <a href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DAndroid&amp;hl=ar" rel="nofollow" target="_blank">ملف تعريف الإرتباط</a>.</div><div style="line-height: 2; text-align: justify;"><br />
نحن في&nbsp;<b style="color: red;">اسم الموقع</b>&nbsp;نستخدم إعلانات Google بصفتها مورِّدًا مالياً خارجياً ، ولذلك تستخدم شركة جوجل&nbsp;<a href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DAndroid&amp;hl=ar" rel="nofollow" target="_blank">ملفات تعريف الارتباط</a> لعرض الإعلانات على موقعنا.</div>

<div style="line-height: 2; text-align: justify;"><br />
وبذلك ستتمكّن Google ، باستخدام ملف تعريف الارتباط <b>DART</b> ، من عرض الإعلانات "حسب الاهتمامات" للمستخدمين استنادًا إلى زياراتهم لموقعنا.</div>

<div style="line-height: 2; text-align: justify;"><br />
ويمكن لزوارنا الكرام تعطيل استخدام ملف تعريف الارتباط <b>DART</b> بزيارة <a href="http://www.google.com/policies/technologies/ads/" rel="nofollow" target="_blank">سياسة الخصوصية الخاصة بإعلانات Google وشبكة المحتوى</a>.</div>

<div style="line-height: 2; text-align: justify;">
<div>
<br>
<h3 style="text-align: center;"><b>ملفات الدخول:</b></h3>
<div>شأنها في ذلك شأن معظم خوادم المواقع الأخرى ، ومن هنا فإن موقع <b><span style="color: red;">اسم الموقع</span></b> يستخدم نظام ملفات الدخول ، وهذا يشمل بروتوكول الانترنت (عناوين ، نوع المتصفح ، مزود خدمة الانترنت "مقدمي خدمات الانترنت" ،  التاريخ / الوقت ، وعدد النقرات لتحليل الاتجاهات).</div>

<div><br />  من خلال هذه العملية لا يقصد بذلك جمع كل هذه المعلومات في سبيل التلصص على أمور الزوار الشخصية ، وإنما هي أمور تحليلية لأغراض تحسين جودة الإعلانات من قبل Google ، ويضاف إلى ذلك أن جميع هذه المعلومات المحفوظة من قبلنا سرية تماما، وتبقى ضمن نطاق التطوير والتحسين الخاص بموقعنا فقط.
</div>
</div>

<div>
<div>
<br>
<h3 style="text-align: center;"><b>الكوكيز وإعدادات الشبكة:</b></h3>
</div>
<div>
<div style="text-align: justify;">
إن شركة <b>Google</b> تستخدم تقنية الكوكيز لتخزين المعلومات عن اهتمامات الزوار، إلى جانب سجل خاص للمستخدم تسجل فيه معلومات محددة عن الصفحات التي تم الوصول إليها أو زيارتها، وبهذه الخطوة فإننا نعرف مدى اهتمامات الزوار وأي المواضيع الأكثر تفضيلا من قبلهم حتى نستطيع بدورنا تطوير محتوانا الخدمي والمعرفي المناسب لهم.</div><div style="text-align: justify;"><br />
نضيف إلى ذلك أن بعض الشركات التي تعلن في&nbsp;<b style="color: red;">اسم الموقع</b>&nbsp;قد تتطلع على الكوكيز وإعدادات الشبكة الخاصة بموقعنا وبكم ،&nbsp;ومن هذه الشركات مثلاً شركة <b>Google</b> وبرنامجها الإعلاني <a href="https://accounts.google.com/ServiceLogin?service=adsense&amp;rm=hide&amp;nui=15&amp;alwf=true&amp;ltmpl=adsense&amp;passive=true&amp;continue=https://www.google.com/adsense/gaiaauth2?hl%3Den_US%26subid%3Dww-en_US-et-ads%26sourceid%3Daso%26medium%3Dlink&amp;followup=https://www.google.com/adsense/gaiaauth2?hl%3Den_US%26subid%3Dww-en_US-et-ads%26sourceid%3Daso%26medium%3Dlink&amp;hl=en_US#identifier" rel="nofollow" target="_blank">Google AdSense</a> وهي شركة الإعلانات الأولى في موقعنا.</div><div style="text-align: justify;"><br />
وبالطبع فمثل هذه الشركات المعلنة والتي تعتبر الطرف الثالث في سياسة الخصوصية فهي تتابع مثل هذه البيانات والإحصائيات عبر بروتوكولات الانترنت لأغراض تحسين جودة إعلاناتها وقياس مدى فعاليتها.</div><div style="text-align: justify;"><br />
كما أن هذه الشركات بموجب الاتفاقيات المبرمة معنا يحق لها استخدام وسائل تقنية مثل ( الكوكيز ، و إعدادات الشبكة ، و أكواد برمجية خاصة "جافا سكربت" ) لنفس الأغراض المذكورة أعلاه والتي تتلخص في تطوير المحتوى الإعلاني لهذه الشركات وقياس مدى فاعلية هذه الإعلانات ، من دون أي أهداف أخرى قد تضر بشكل أو بآخر على زوار موقعنا.</div><div style="text-align: justify;"><br />
وبالطبع فإن موقع<span style="color: red;"><b>&nbsp;اسم الموقع</b></span>&nbsp;&nbsp;لا يستطيع الوصول أو السيطرة على هذه الملفات، وحتى بعد سماحك وتفعيلك لأخذها من جهازك (الكوكيز) ، كما أننا غير مسؤولين بأي شكل من الأشكال عن الاستخدام غير الشرعي لها إن حصل ذلك .</div><div style="text-align: justify;"><br />
عليك مراجعة سياسة الخصوصية الخاصة بالطرف الثالث في هذه الوثيقة &nbsp;( الشركات المعلنة مثل&nbsp;<a href="https://accounts.google.com/ServiceLogin?service=adsense&amp;rm=hide&amp;nui=15&amp;alwf=true&amp;ltmpl=adsense&amp;passive=true&amp;continue=https://www.google.com/adsense/gaiaauth2?hl%3Den_US%26subid%3Dww-en_US-et-ads%26sourceid%3Daso%26medium%3Dlink&amp;followup=https://www.google.com/adsense/gaiaauth2?hl%3Den_US%26subid%3Dww-en_US-et-ads%26sourceid%3Daso%26medium%3Dlink&amp;hl=en_US#identifier" rel="nofollow" target="_blank">Google AdSense</a>&nbsp;) أو خوادم الشبكات&nbsp;الإعلانية لمزيد من المعلومات عن ممارساتها وأنشطتها المختلفة .</div><div style="text-align: justify;"><br />
لمراجعة سياسة الخصوصية للبرنامج الإعلاني&nbsp;<a href="https://accounts.google.com/ServiceLogin?service=adsense&amp;rm=hide&amp;nui=15&amp;alwf=true&amp;ltmpl=adsense&amp;passive=true&amp;continue=https://www.google.com/adsense/gaiaauth2?hl%3Den_US%26subid%3Dww-en_US-et-ads%26sourceid%3Daso%26medium%3Dlink&amp;followup=https://www.google.com/adsense/gaiaauth2?hl%3Den_US%26subid%3Dww-en_US-et-ads%26sourceid%3Daso%26medium%3Dlink&amp;hl=en_US#identifier" rel="nofollow" target="_blank">Google AdSense</a>&nbsp;والتابع لشركة <b>Google </b>يرجى النقر <a href="http://www.google.com/policies/technologies/ads/" rel="nofollow" target="_blank">هنا</a></div><div style="text-align: justify;"><a href="http://www.google.com/policies/technologies/ads/" target="_blank"><br /></a>
يُمكن جمع البيانات لتجديد النشاط التسويقي على الشبكة الإعلانية وشبكة البحث عبر &nbsp;سياسة الإعلانات التي تستهدف الاهتمامات والمواقع الخاصة بالزوار ، ويمكن تعطيل هذه الخاصية من <a href="https://tools.google.com/dlpage/gaoptout/?hl=ar" rel="nofollow" target="_blank">هنا</a>.</div><div style="text-align: justify;"><br />
وأخيرا .. نحن ملزمون ضمن بنود هذه الاتفاقية بان نبين لك كيفية تعطيل خاصية الكوكيز ، حيث يمكنك فعل ذلك من خلال خيارات المتصفح الخاص بك، أو من خلال متابعة &nbsp;<a href="http://www.google.com/policies/technologies/ads/" rel="nofollow" target="_blank">سياسة الخصوصية الخاصة بإعلانات Google وشبكة المحتوى</a> .</div><div style="text-align: justify;"><br />
إذا كنت بحاجة إلى مزيد من المعلومات أو لديك أية أسئلة عن سياسة الخصوصية ، لا تتردد في الاتصال بنا عن طريق نموذج الإتصال ، بالدخول إلى تبويب اتصل بنا.</div><div style="text-align: justify;"><br />
تم تحرير هذه الصفحة بتاريخ <b><span style="color: red;">25/10/2021</span></b><br />
بنود هذه السياسة قابلة للتطوير والتغيير في محتواها في أي وقت نراه ضرورياً .</div></div></div></div>
</div>
</div>
          </div>
        
        
         
        
      
       
        </div>      
      </div>
    </section>
    
  </div>
  </div>

<a href="/login">
    <button>
        أوافق
    </button>
</a>


  <div class="control-sidebar-bg"></div>
</div>


</body>
</html>
