<style type="text/css">
  
.profile-header {
    transform: translateY(5rem);
}


/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/
body {
    background: #654ea3;
    background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
    background: linear-gradient(to right, #654ea3, #eaafc8);
    min-height: 100vh;
}


</style>

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Profil page</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" type="text/css" href="bots.css">
</head>


<body class="hold-transition skin-blue sidebar-mini">

<div class="row py-5 px-4">
    <div class="col-xl-12 col-md-10 col-sm-10 mx-auto">

        <!-- Profile widget -->
        <div  class="bg-white shadow rounded overflow-hidden">
            <div style="text-align: right;" class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                    
                    <div class="media-body mb-5 text-white">
                        <h5 class="mt-0 mb-0"> اسم المستخدم</h5>
                        <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i>الايميل</p>
                    </div>
                    <div class="profile mr-3"><img src="sans-titre.png" alt="..." width="130" class="rounded mb-2 img-thumbnail"><a href="#" class="btn btn-dark btn-sm btn-block">تغيير المعلومات</a></div>
                </div>
            </div>

            <div style="text-align: right;" class="py-4 px-4">
                
                <div class="py-4">
                    <br><br>
                    <p><h5 class="mb-3">المعلومات</h5></p>
                    <div class="p-4 bg-light rounded shadow-sm">
                    <table style="width: 100%">
                    

                    <tr>
                    <td style="text-align: left;width: 50%">
                        <p class="font-italic mb-0"> الرقم </p>
                    </td>

                    <td style="text-align: right;width: 50%">
                        رقم التعريف الوطني
                    </td>
                    
                    </tr>

                    <tr>
                    
                    <td style="text-align: left;width: 50%">
                        اسم المستخدم
                    </td>
                    <td style="text-align: right;width: 50%">
                        <p class="font-italic mb-0"> الاسم  </p>
                    </td>
                    </tr>


                    <tr>
                    
                    <td style="text-align: left;width: 50%">
                        ايميل المستخدم
                    </td>
                    <td style="text-align: right;width: 50%">
                        <p class="font-italic mb-0"> الايميل </p>
                    </td>
                    </tr>

                    <tr>
                    
                    <td style="text-align: left;width: 50%">
                        الهاتف
                    </td>
                    <td style="text-align: right;width: 50%">
                        <p class="font-italic mb-0">رقم الهاتف</p>
                    </td>
                    </tr>

                    </table>
                    
                    </div>
                </div>
            </div>

            
        </div><!-- End profile widget -->

    </div>
</div>

</body>
</html>

